html {
    padding: 0;
    font-family: "century gothic";
    background-image: url("fbf3fecf-9158-4985-8c57-beae608d4f03.jpg");
    background-size: cover;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
img { max-width: 100%; height: auto; }
@viewport {
    width: device-width ;
    zoom: 1.0 ;
};
}
@-ms-viewport {
    width: device-width ;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}
@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}
#somethingorother {
    width: 800px ;
}
@media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
}
@media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
}
img {
    max-width: 50%;
}
iframe, object, embed{
width: 100%;
}
div {
    background-image: url("OIPz.jpg");
    background-size: cover;
    background-position: center center;
}
.logo {
    display: none;
}
.container {
    position: absolute;
    top: 80%;
    left: 65%;
    transform: translate(-50%,-50%);
    font-size: x-large;
    font-weight: bold;
    color: black;
}
div {
    display: block;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
    color: white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.button::before {
    content: "";
    position: absolute;
    top: -70px;
    background: url("asdf.gif");
    background-repeat: no-repeat;
    background-attachment: cover;
    width: 130px;
    height: 150px;
    z-index: -1;
}